<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{ proyecto }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body>

    <h1>Bienvenid@ a Batallas Pokemon</h1>

    <p>
        No te dejes engañar por su apariencia adorable.
        Descubre sus tipos, estadísticas y ataques:
        ¡están listos para luchar!
    </p>

    <a href="{{ url_for('listado_pokemons') }}">
        Ver lista de Pokémon
    </a>

    <footer>
        <p>{{ proyecto }} - {{ nombre }} - {{ anio }}</p>
    </footer>

</body>

</html>