{% extends "base.html" %}

{% block titulo %}
{{ proyecto }}
{% endblock %}


{% block clase_main %}
inicio
{% endblock %}


{% block contenido %}

<div class="panel-inicio">

    <div class="texto-inicio">

        <h1>Bienvenid@ a Batallas Pokemon</h1>

        <p>
            No te dejes engañar por su apariencia adorable.
            Descubre sus tipos, estadísticas y ataques:
            ¡están listos para luchar!
        </p>

        <a
            class="boton-inicio"
            href="{{ url_for('listado_pokemons') }}"
        >
            Ver Pokédex
        </a>

    </div>


    <div class="pokemon-inicio">

        <div class="marco-pokemon-inicio">

            <img
                src="{{ pokemon_destacado.sprites.front_default }}"
                alt="{{ pokemon_destacado.name }}"
            >

        </div>

        <p class="nombre-pokemon-inicio">
            {{ pokemon_destacado.name }}
        </p>

    </div>

</div>

{% endblock %}