{% extends "base.html" %}


{% block titulo %}
Pokédex
{% endblock %}


{% block contenido %}

<h1 class="titulo-pokedex">Pokédex</h1>


<div class="pokedex">

    {% for pokemon in pokemons %}

    <div class="tarjeta-pokemon">

        <p class="numero-tarjeta">
            N.º {{ pokemon.id }}
        </p>


        <h2>{{ pokemon.name|capitalize }}</h2>


        <img src="{{ pokemon.sprites.front_default }}" alt="{{ pokemon.name|capitalize }}">


        <div class="tipos-pokemon">

            {% for tipo in tipos_pokemons[loop.index0] %}

            <span class="tipo-pokemon tipo-{{ tipo|lower }}">
                {{ tipo }}
            </span>

            {% endfor %}

        </div>


        <a class="boton-pokemon" href="{{ url_for('detalle_pokemon', id=pokemon.id) }}">
            Ver detalle
        </a>

    </div>

    {% endfor %}

</div>

{% endblock %}